body {
    margin: 0;

    background-color: #0C0C0C;
    font-family: 'Noto Sans', sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}




@media only screen and (max-width: 600px) {

    /* For mobile phones: */
    nav {
        background-color: #BBD14B;
        width: 100vw;
        height: 6vh;
        position: fixed;
        border-radius: 0px 0px 50px 50px;


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    nav div img {
        height: 3vh;




    }

    nav div a {
        color: #0C0C0C;
        text-decoration: none;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    ul {
        list-style: none;
        padding: 8px;
    }

    a {
        text-decoration: none;
    }

    #menu-hamburguesa {
        display: none;
        border-radius: 50px 50px 50px 50px;
        position: absolute;
        top: 55px;

        background-color: #BBD14B;
        width: 100%;
        height: auto;
        text-align: center;


    }

    #menu-hamburguesa ul li {
        padding: 5px 0;
    }

    #menu-hamburguesa ul li a {
        color: #0C0C0C;
        font-size: 1em;


    }

    #boton-hamburguesa {
        background-color: #BBD14B;
        color: #0C0C0C;
        font-size: 1em;

        padding: 2px;
        border: none;
        cursor: pointer;
    }


    main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #banner1 {
        height: auto;
        padding-top: 10vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    #app1 {
        height: auto;
        width: 90vw;

    }

    .app1 {
        color: aliceblue;

        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;

    }

    .app1 h1 {
        font-size: 1.5em;


        margin: 0;
        text-align: center;
    }

    .app1 p {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0;

    }

    .app1 img {
        height: 5vh;

        margin-top: 20px;

    }

    .app2 img {
        margin: 15px;
        width: 80vw;

    }

    .app2 {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    #banner2 {
        background-color: #BBD14B;
        height: 20vh;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #banner2 h2 {
        font-size: 1em;
    }

    #banner2 img {
        height: 5vh;
    }

    #banner3 {
        height: auto;
        width: 100vw;
        text-align: center;
        font-size: 0.8em;
        color: #BBD14B;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

    }

    .carac {
        width: 50vw;
        height: 50vw;
        border-radius: 0px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #caracteristica1 {
        background-color: #171717;
        background-image: url(img/c1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica2 {
        background-color: #353435;
        background-image: url(img/c2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica4 {
        background-color: #171717;
        background-image: url(img/c3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica3 {
        background-color: #353435;
        background-image: url(img/c2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica5 {
        background-color: #171717;
        background-image: url(img/c3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        display: flex;
        flex-direction: column;
    }

    #caracteristica5 img {
        width: 12vw;
    }

    #caracteristica6 {
        background-color: #353435;
        background-image: url(img/c6.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #banner4 {
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #banner4 video {
        width: 90vw;

    }

    #banner5 {
        background-color: #BBD14B;
        height: 20vh;
        border-radius: 0px;
        border-radius: 120px 120px 0px 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #banner5 h1 {
        padding: 20px;
        font-size: 2em;
    }

    #banner5 img {

        height: 7vh;

    }

    #banner11 {
        height: 20vh;
        background-color: #BBD14B;
        border-radius: 80px;


        display: flex;
        align-items: center;
        justify-content: center;
    }

    #banner11 div {
        width: 60vw;


    }

    #banner11 div h2 {
        font-size: 1em;
        color: #363535;
        text-align: center;
    }

}


@media only screen and (min-width: 600px) and (max-width: 1350px) {

    /* For mobile tablet: */
    nav {
        background-color: #BBD14B;
        width: 100vw;
        height: 6vh;
        position: fixed;
        border-radius: 0px 0px 50px 50px;


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    nav div img {
        height: 3vh;




    }

    nav div a {
        color: #0C0C0C;
        text-decoration: none;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    ul {
        list-style: none;
        padding: 8px;
    }

    a {
        text-decoration: none;
    }

    #menu-hamburguesa {
        display: none;
        border-radius: 50px 50px 50px 50px;
        position: absolute;
        top: 55px;

        background-color: #BBD14B;
        width: 100%;
        height: auto;
        text-align: center;


    }

    #menu-hamburguesa ul li {
        padding: 5px 0;
    }

    #menu-hamburguesa ul li a {
        color: #0C0C0C;
        font-size: 1em;


    }

    #boton-hamburguesa {
        background-color: #BBD14B;
        color: #0C0C0C;
        font-size: 1em;

        padding: 2px;
        border: none;
        cursor: pointer;
    }


    main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #banner1 {
        height: auto;
        padding-top: 10vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    #app1 {
        height: auto;
        width: 80vw;

    }

    .app1 {
        color: aliceblue;

        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;

    }

    .app1 h1 {
        font-size: 2em;


        margin: 0;
        text-align: center;
    }

    .app1 p {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0;
        font-size: 1.2em;

    }

    .app1 img {
        height: 5vh;

        margin-top: 20px;

    }

    .app2 img {
        margin: 50px;
        width: 65vw;

    }

    .app2 {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    #banner2 {
        background-color: #BBD14B;
        height: 20vh;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #banner2 h2 {
        font-size: 1em;
    }

    #banner2 img {
        height: 5vh;
    }

    #banner3 {
        height: auto;
        width: 100vw;
        text-align: center;
        font-size: 1.7em;
        color: #BBD14B;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

    }

    .carac {
        width: 50vw;
        height: 50vw;
        border-radius: 0px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #caracteristica1 {
        background-color: #171717;
        background-image: url(img/c1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica2 {
        background-color: #353435;
        background-image: url(img/c2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica4 {
        background-color: #171717;
        background-image: url(img/c3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica3 {
        background-color: #353435;
        background-image: url(img/c2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica5 {
        background-color: #171717;
        background-image: url(img/c3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        display: flex;
        flex-direction: column;
    }

    #caracteristica5 img {
        width: 15vw;
    }

    #caracteristica6 {
        background-color: #353435;
        background-image: url(img/c6.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #banner4 {
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #banner4 video {
        width: 90vw;

    }

    #banner5 {
        background-color: #BBD14B;
        height: 15vh;
        border-radius: 0px;
        border-radius: 150px 150px 0px 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #banner5 h1 {
        padding: 20px;
        font-size: 2em;
    }

    #banner5 img {

        height: 5vh;

    }

    #banner11 {
        height: 20vh;
        background-color: #BBD14B;
        border-radius: 200px;


        display: flex;
        align-items: center;
        justify-content: center;
    }

    #banner11 div {
        width: 60vw;


    }

    #banner11 div h2 {
        font-size: 1.5em;
        color: #363535;
        text-align: center;
    }

}


/* Large devices (desktops, 1350px and up)*/
@media (min-width: 1350px) {
    nav {
        background-color: #BBD14B;
        width: 99vw;
        height: 6vh;
        position: fixed;
        border-radius: 0px 0px 50px 50px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        align-items: center;
    }

    nav div img {
        height: 3vh;
        margin-left: 100px;

    }

    #menu-hamburguesa {
        width: 30vw;
        visibility: visible;
        display: flex;
        position: relative;
      
        left: 650px;
        background-color: transparent;




    }

    a {
        text-decoration: none;
        color: #171717;
    }

    a:hover {
        color: aliceblue;
    }

    ul {
        list-style: none;
        margin-right: 20px;
        width: 60vw;
        font-size: 1.1em;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    li {
        margin-left: 30px;
    }

    #boton-hamburguesa {
        visibility: hidden;


    }



    main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #banner1 {
        height: 70vh;
        padding-top: 6vh;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    #app1 {
        height: 60vh;
        width: 40vw;
    }

    .app1 {
        color: aliceblue;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;

    }

    .app1 h1 {
        font-size: 2.5em;
        padding-left: 40px;
        margin: 0;
        text-align: left;
    }

    .app1 p {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 1.5em;
        margin: 0;
        text-align: left;

    }

    .app1 img {
        height: 5vh;
        padding-left: 40px;
        margin-top: 10px;

    }

    .app2 img {
        width: 28vw;
    }

    #banner2 {
        background-color: #BBD14B;
        height: 25vh;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #banner2 img {
        height: 6vh;
    }

    #banner4 {
        height: 70vh;
        margin-top: 40px;
        margin-bottom: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #banner4 video {
        height: 70vh;

    }



    #banner3 {
        height: auto;
        width: 100vw;
        text-align: center;
        font-size: 2em;
        color: #BBD14B;



        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

    }

    .carac {
        width: 33vw;
        height: 33vw;
        border-radius: 0px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #caracteristica1 {

        background-color: #171717;
        background-image: url(img/c1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica1:hover {
        background-image: url(img/c1.2.png);
        color: aliceblue
    }


    #caracteristica2 {
        background-color: #353435;
        background-image: url(img/c2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica2:hover {
        background-image: url(img/c2.2.png);
        color: aliceblue
    }

    #caracteristica3 {
        background-color: #171717;
        background-image: url(img/c3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica3:hover {
        background-image: url(img/c3.2.png);
        color: aliceblue
    }

    #caracteristica4 {
        background-color: #353435;
        background-image: url(img/c2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica4:hover {
        background-image: url(img/c2.2.png);
        color: aliceblue
    }


    #caracteristica5 {
        background-color: #171717;
        background-image: url(img/C3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        display: flex;
        flex-direction: column;
    }

    #caracteristica5 img {
        width: 12vw;
    }

    #caracteristica5:hover {
        background-image: url(img/c3.2.png);
        color: aliceblue
    }


    #caracteristica6 {
        background-color: #353435;
        background-image: url(img/c6.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica6:hover {
        background-image: url(img/c6.2.png);
        color: aliceblue
    }

    #banner5 {
        background-color: #BBD14B;
        height: 20vh;
        width: 98.7vw;
        border-radius: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 100px 100px 0 0;
    }

    #banner5 img {
        height: 5vh;

    }

    #banner11 {
        background-color: #BBD14B;
        width: 98.8vw;
        height: 20vh;
        border-radius: 100px;



        display: flex;
        align-items: center;
        justify-content: center;
    }



    #banner11 div h2 {
        color: #171717;
        text-align: center;
        font-size: 1.8em;
    }




}