body {
    margin: 0;

    background-color:#0C0C0C;
    font-family: 'Noto Sans', sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

@media only screen and (max-width: 992px) {

    /* For mobile phones: */
    nav {
        background-color: #BBD14B;
        width: 100vw;
        height: 6vh;
        position: fixed;
        border-radius: 0px 0px 50px 50px;


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}

nav div img {
    height: 3vh;
    margin-left: 15px;
    border-radius: 0px
    
}

nav div a {
    color: #262626;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0px 0px 50px 50px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#menu-hamburguesa {
    display: none;

    background-color: #BBD14B;
    width: 100%;
    text-align: center;
}

#menu-hamburguesa ul li {
    padding: 5px 0;
}

#menu-hamburguesa ul li a {
    color: #363535;
    font-size: 1em;

}

#boton-hamburguesa {
    background-color: #BBD14B;
    color: #262626;
    font-size: 1em;

    padding: 2px;
    border: none;
    cursor: pointer;
}


main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#banner1 {
    height: auto;
    padding-top: 15vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

#app1 {
    height: auto;
    width: 90vw;

}

.app1 {
    color: aliceblue;

    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

}

.app1 h1 {
    font-size: 1.5em;


    margin: 0;
    text-align: center;
}

.app1 p {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;

}

.app1 img {
    height: 5vh;

    margin-top: 20px;

}

.app2 img {
    margin: 15px;
    width: 80vw;

}

.app2 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

#banner2 {
    background-color: #BBD14B;
    height: 20vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner2 h2 {
    font-size: 1em;
}

#banner2 img {
    height: 5vh;
}

#banner3 {
    height: auto;
    width: 100vw;
    text-align: center;
    font-size: 0.8em;
    color: #BBD14B;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.carac {
    width: 50vw;
    height: 50vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

#caracteristica1 {
    background-color: #262626;
    background-image: url(img/c1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#caracteristica2 {
    background-color: #363535;
    background-image: url(img/c2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#caracteristica4 {
    background-color: #262626;
    background-image: url(img/c3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#caracteristica3 {
    background-color: #363535;
    background-image: url(img/c4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#caracteristica5 {
    background-color: #262626;
    background-image: url(img/C5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#caracteristica6 {
    background-color: #363535;
    background-image: url(img/c6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#banner4 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner4 video {
    width: 80vw;

}

#banner5 {
    background-color: #BBD14B;
    height: 22vh;
    border-radius: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner5 h1 {
    padding: 20px;
    font-size: 2em;
}

#banner5 img {

    height: 7vh;

}

#banner11 {
    height: 20vh;
    background-color: #BBD14B;
    border-radius: 80px;


    display: flex;
    align-items: center;
    justify-content: center;
}

#banner11 div {
    width: 60vw;


}

#banner11 div h2 {
    font-size: 1em;
    color: #363535;
    text-align: center;
}



/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    nav {
        background-color: #BBD14B;
        width: 99vw;
        height: 6vh;
        position: fixed;
        border-radius: 0px 0px 50px 50px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    nav div img {
        height: 3vh;
    }

    #menu-hamburguesa {
        width: 60vw;
        visibility: visible;
        display: flex;



    }

    ul {
        margin-right: 20px;
        width: 60vw;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    li {
        margin-left: 30px;
    }

    #boton-hamburguesa {
        visibility: hidden;


    }



    main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #banner1 {
        height: 70vh;
        padding-top: 6vh;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    #app1 {
        height: 60vh;
        width: 40vw;
    }

    .app1 {
        color: aliceblue;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;

    }

    .app1 h1 {
        font-size: 2em;
        padding-left: 40px;
        margin: 0;
        text-align: left;
    }

    .app1 p {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 1.5em;
        margin: 0;
        text-align: left;

    }

    .app1 img {
        height: 5vh;
        padding-left: 40px;
        margin-top: 10px;

    }

    .app2 img {
        width: 28vw;
    }

    #banner2 {
        background-color: #BBD14B;
        height: 25vh;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #banner2 img {
        height: 6vh;
    }

    #banner4 {
        height: 70vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #banner4 video {
        height: 60vh;

    }



    #banner3 {
        height: auto;
        width: 100vw;
        text-align: center;
        font-size: 2em;
        color: #BBD14B;


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

    }

    .carac {
        width: 33vw;
        height: 33vw;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #caracteristica1 {

        background-color: #262626;
        background-image: url(img/c1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica1:hover {
        background-image: url(img/c1.2.png);
        color: aliceblue
    }


    #caracteristica2 {
        background-color: #363535;
        background-image: url(img/c2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica2:hover {
        background-image: url(img/c2.2.png);
        color: aliceblue
    }

    #caracteristica3 {
        background-color: #262626;
        background-image: url(img/c3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #caracteristica3:hover {
        background-image: url(img/c3.2.png);
        color: aliceblue
    }

    #caracteristica4 {
        background-color: #363535;
        background-image: url(img/c4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
    #caracteristica4:hover {
        background-image: url(img/c2.2.png);
        color: aliceblue
    }


    #caracteristica5 {
        background-color: #262626;
        background-image: url(img/C5.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
    #caracteristica5:hover {
        background-image: url(img/c3.2.png);
        color: aliceblue
    }


    #caracteristica6 {
        background-color: #363535;
        background-image: url(img/c6.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
    #caracteristica6:hover {
        background-image: url(img/c6.2.png);
        color: aliceblue
    }

    #banner5 {
        background-color: #BBD14B;
        height: 20vh;
        width: 98.7vw;
        border-radius: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #banner5 img {
        height: 5vh;

    }

    #banner11 {
        width: 98.8vw;
        height: 20vh;
        border-radius: 100px;



        display: flex;
        align-items: center;
        justify-content: center;
    }



    #banner11 div h2 {
        color: #262626;
        text-align: center;
        font-size: 1.8em;
    }

    footer {
        background-color: black;
        height: 10vh;
    }



}